* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header img {
    height: 50px;
    box-sizing: border-box;
    padding-bottom: 200px 0;
    margin-left: 1%;
}

.menu {
    background: #2c3e50;
    top: 0;
    position: sticky;
}

.menu h1 {
    color: white;
    font-family: "Poppin", "sans-serif";
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
}

.bg {
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container1 {
    position: relative;
    margin-top: 5px;
    width: 450px;
    height: auto;
    background: #c9c8c8;
    border-radius: 5px;
    float: right;
}

.label {
    padding: 20px 13px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
}

.bd_form {
    padding: 20px 40px;
}

.bd_form .font {
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}

.bd_form input {
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}

.bd_form .font3,
.font2 {
    margin-top: 30px;
}

.bd_form .radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.bd_form .rinput {
    display: none;
}

.bd_form .rr {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #00aeef;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.bd_form .rr::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #000c0a;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.bd_form .rinput:checked+.rr::after {
    transform: scale(1);
}

.bd_form button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1a237e;
    border-radius: 3px;
    border: 1px solid #3949ab;
    transition: 0.5s;
}

.bd_form button:hover {
    background: #115511;
}

.bd_form #year_error,
.bd_form #day_error,
.bd_form #month_error,
.bd_form #gender_error {
    margin-top: 5px;
    font-size: 18px;
    width: 345px;
    color: #c62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    border-radius: 1px solid #ef9a9a;
    display: none;
}

.desc {
    width: 70%;
    border: 3px solid #444;
    background: white;
    padding: 3%;
    justify-content: flex-start;
    margin-left: 15%;
    margin-bottom: 10px;
}

.desc p {
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0em;
}

h2 {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 4%;
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
}

.sec2 {
    background: url(../images/bg1.png) no-repeat;
    height: 40vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 3%;
}

@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }
    .floating-btn {
        right: 10px;
    }
}