HTML,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

header img {
    height: 50px;
    box-sizing: border-box;
    padding-bottom: 200px 0;
    margin-left: 1%;
}

.menu {
    background: black;
}

.menu h1 {
    color: white;
    font-family: "Poppin", "sans-serif";
    display: inline-flex;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    font-weight: 700;
}

.bg {
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container1 {
    position: relative;
    margin-top: 5px;
    height: auto;
    background: #c9c8c8;
    border-radius: 5px;
    float: left;
    justify-content: center;
}

.label {
    padding: 20px 13px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
}

.bd_form {
    padding: 20px 40px;
}

.bd_form .font {
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}

.bd_form input {
    height: 40px;
    width: 600px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}

.bd_form .font3,
.font2 {
    margin-top: 30px;
}

.bd_form .radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.bd_form .rinput {
    display: none;
}

.bd_form .rr {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #00aeef;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.bd_form .rr::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #000c0a;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.bd_form .rinput:checked+.rr::after {
    transform: scale(1);
}

.bd_form button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 600px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1a237e;
    border-radius: 3px;
    border: 1px solid #3949ab;
    transition: 0.5s;
}

.bd_form button:hover {
    background: #115511;
}

.bd_form #year_error,
.bd_form #day_error,
.bd_form #month_error,
.bd_form #gender_error {
    margin-top: 5px;
    font-size: 18px;
    width: 345px;
    color: #c62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    border-radius: 1px solid #ef9a9a;
    display: none;
}

.desc {
    width: 600px;
    height: auto;
    border: 2px solid #444;
    background: white;
    padding: 3%;
    justify-content: flex-start;
    margin-left: 8%;
    margin-bottom: 10px;
}

.desc p {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0em;
}

h2 {
    margin-top: 2%;
    text-align: center;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
}

h5 {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
}

.sec2 {
    background: url(../images/bg1.png) no-repeat;
    height: 40vh;
    background-size: cover;
    background-attachment: fixed;
    justify-content: space-around;
    margin-top: 3%;
}

.last {
    float: left;
    width: 100%;
    background: url(../images/one1.jpg) no-repeat;
    background-size: cover;
    min-height: 468px;
}

div {
    display: block;
}

.last .blog {
    margin-top: 0;
}

.blog {
    width: 100%;
    margin: 206px auto 0;
    max-width: 1170px;
}

.last article {
    width: 686px;
    float: left;
    margin: 129px 0 0;
    display: block;
}

element.style {
    visibility: visible;
    animation-name: fadeIn;
}

.last h2 {
    font-size: 40px;
    line-height: normal;
    color: #f3f3f3;
    font-family: proxima_nova_rgbold;
    margin-bottom: 17px;
    margin: 20px 0 10px;
    font-weight: 400;
    display: block;
    margin-block-start: 0.83em;
    margin-inline-end: 0.83em;
    margin-inline-start: 0px;
    margin-block-end: 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-block-end: 0px;
}

.last p {
    color: #f3f3f3;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 7%;
    margin-top: 30px;
}

.fadeIn {
    animation-name: fadeIn;
}

.ftr {
    margin-top: 10%;
    height: 5vh;
    background-color: black;
    padding: 0 10px;
    padding-bottom: 160px;
}

.ftr p {
    margin-top: 2%;
    color: white;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-instagram {
    color: white;
    background: black;
}

.fa-twitter {
    color: white;
    background: black;
}

@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }
    .floating-btn {
        right: 10px;
    }
}