* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    height: 160vh;
}

.container {
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
}

.label {
    padding: 20px 13px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;
}

.bd_form {
    padding: 20px 40px;
}

.bd_form .font {
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}

.bd_form input {
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}

.bd_form .font3,
.font2 {
    margin-top: 30px;
}

.bd_form .radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px;
}

.bd_form .rinput {
    display: none;
}

.bd_form .rr {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #00aeef;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}

.bd_form .rr::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #000c0a;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.bd_form .rinput:checked+.rr::after {
    transform: scale(1);
}

.bd_form button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1a237e;
    border-radius: 3px;
    border: 1px solid #3949ab;
    transition: 0.5s;
}

.bd_form button:hover {
    background: #115511;
}

.bd_form #year_error,
.bd_form #day_error,
.bd_form #month_error,
.bd_form #gender_error {
    margin-top: 5px;
    font-size: 18px;
    width: 345px;
    color: #c62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    border-radius: 1px solid #ef9a9a;
    display: none;
}